:root {
    --primary-color: #14141F;
    --primary-color-rgb: 20, 20, 31;
    --secondary-color: #7102c1;
    --secondary-color-2: #ff69ff;
    --secondary-color-rgb: 197, 38, 157;
    --secondary-color-rgb-2: 133, 5, 171;
}